.code-block {
	margin: 3% 20px;
	display: grid;
	// justify-self: center;
	// align-self: center;
	min-width: fit-content;
	max-width: 800px;
	background-color: #18181b;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

	.code-block-header {
		height: 15px;
		display: flex;
		margin: 0;
		justify-content: end;
	}

	.language-name {
		color: #e6e6e6;
		margin-top: 5px;
		margin-right: 10px;
		font-size: 12px;
	}

	pre.aero {
		overflow-y: auto;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0;

		display: flex;
		margin-top: 0;
		border-top: none;
		// margin-left: auto;
		// margin-right: auto'
		overflow: auto;
	}

	.aero code {
		font-family: 'FiraCode';
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-size: 0.8rem;
		// padding: 0.125em 0.25em;
		line-height: 20px;
		border-radius: 0.25rem;
		white-space: pre;
	}
}
