:root {
  --html-color: #ffffff;
  --background-color: #0e0d0d;
  --navbar-link-color: #ffffff;
  --navbar-link-hover-color: #44c225;

  --meta-anchor-background: #181515;
  --meta-anchor-hover-background: #ffffff1c;
  --meta-anchor-border-color: #01b419;

  --meta-anchor-series-background: #0a6d12;
  --meta-anchor-series-hover-background: #0066ff;

  --meta-info-title-color: #ffffff;
  --meta-info-date-color: #ffffff;

  --main-header-color: #ffffff;

  --markdown-tags-color: #82aaff;
  --markdown-h1-color: #419aff;
  --markdown-h2-color: #d008eb;
  --markdown-h3-color: #ff2ea4;
  --markdown-h4-color: #8be9fd;
  --markdown-a-color: #40d0f0;
  --markdown-a-hover-color: #40d0f0c0;
}

[data-theme='light'] {
  --html-color: #1d0e0e;
  --background-color: #f1f1f1;
  --navbar-link-color: #262627;
}


html {
  font-family: 'Nunito', sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-color);
  color: var(--html-color);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

p {
  margin: 0;
  padding: 0;
}

@import "./pages/admin.scss";

@import "./components/themeSwitcher.scss";
@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./components/card.scss";

@import "./layouts/markdown.scss";

.main-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--main-header-color);
  font-weight: bold;
  font-size: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  margin-bottom: 20px;
}

.cards-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  max-width: 1135px;
}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 320px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 481px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}

@media only screen and (min-width: 641px) {
  .main-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}

@media only screen and (min-width: 961px) {
  .main-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1025px) {
  .main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1281px) {
  .main-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (max-width: 450px) {
  .main-container {
    margin-left: 6%;
    margin-right: 6%;
  }

  .cards-container {
    min-width: 100%;
  }
}