@font-face {
	font-family: 'Geist';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Geist.ttf');
}

@font-face {
	font-family: 'GeistMono';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/GeistMono.ttf');
}
