@font-face {
	font-family: 'Inter';
	font-weight: normal;
	src: url('/fonts/Inter.ttf') format('truetype-variations');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Geist';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Geist.ttf');
}

@font-face {
	font-family: 'GeistMono';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/GeistMono.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans.ttf');
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
