@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: local('/fonts/Inter.ttf');
}

@font-face {
	font-family: 'FiraCode';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: local('/fonts/FiraCode.ttf');
}

@font-face {
	font-family: 'Geist';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: local('/fonts/Geist.ttf');
}

@font-face {
	font-family: 'GeistMono';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: local('/fonts/GeistMono.ttf');
}
