@import url('./_fonts.scss');
@import url('./components/_code_block.scss');

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background-color: #0a0a0a;
	font-family: 'Geist', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	min-height: 100vh;
}

body {
	color: #ffffff;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// header {}

.main-layout {
	margin-top: 20px;
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 3%;
}

.nav-container {
	height: 45px;
	display: grid;
	// background-color: #151618;

	.nav-links {
		display: flex;
		height: 100%;
		align-self: center;
		justify-self: start;
		margin-right: 10px;
		align-items: center;

		.link {
			text-decoration: none;
			text-transform: none;
			color: #ffffff;
			font-size: 15px;
			font-weight: 500;
			padding: 0 10px;

			&:hover {
				color: #8c8a91;
			}
			&:visited {
			}

			&.active {
			}
		}
	}
}

.post-list {
	list-style-type: none;
	padding: 0px 10px;

	.post {
		a {
			text-decoration: none;
			color: #2db35e;

			&:hover {
				color: #0f8d3d;
			}
		}
	}
}
