@use './fonts';

// layouts
@use './layouts/blog_layout';

// components
@use './components/code_block';

:root {
	--c-dark: #101010;
	--c-light: #ffffff;
	--c-white1: #ffffff;
	--c-grey1: #d4d3d8;
	--c-grey2: #8c8a91;
	--c-black1: #0e0e0e;
	--c-black2: #161616;
	--c-green1: #dcff50;
	--c-green2: #bfd067;
	--c-green3: #b3e8b4;
	--c-green4: #00aa6b;
	--c-purple1: #a390ff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background-color: var(--c-dark);
	font-family: 'Geist', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	-webkit-font-smoothing: antialiased;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 0.35rem;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
	background: var(--c-green3);
}

header {
	padding-top: 30px;
}

.header-logo {
	display: grid;
	justify-items: center;
	padding-bottom: 10px;
	height: 100px;
	align-items: center;

	#rings {
		width: 100px;
		height: 100px;
		position: absolute;
		animation: spin 20s linear infinite;
		fill: #ffffff;
	}

	#symbol {
		width: 50px;
		height: 50px;
	}

	@keyframes spin {
		100% {
			transform: rotate(360deg);
		}
	}
}

.main-layout {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 4% 0 4%;
}

.nav-container {
	.nav {
		.nav-links {
			display: flex;
			justify-self: center;
			justify-items: center;
			align-items: center;
		}

		.nav-link-box {
			display: grid;
			gap: 5px;
			justify-items: center;

			.link-logo {
				height: 27px;
				width: 27px;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.nav-logo-container {
			display: grid;
		}

		.link {
			text-decoration: none;
			text-transform: none;
			color: var(--c-white1);
			font-size: 15px;
			font-weight: 500;

			&:not(:last-child) {
				margin-right: 22px;
			}

			&.active {
				color: var(--c-green1);
			}
		}
	}
}

.post-list {
	display: grid;
	list-style-type: none;
	padding: 0;

	.post-listing {
		margin-bottom: 30px;
		line-height: 1;

		&.featured {
			.post-listing-categories {
				.post-listing-category {
					color: var(--c-green3);
				}
			}
		}

		.post-listing-header {
			display: grid;

			.post-listing-anchor {
				text-decoration: none;
				width: fit-content;
			}

			.post-listing-title {
				color: var(--c-white1);
				font-weight: 500;
				font-size: 21px;
				margin: 0;
				margin-bottom: 6px;

				&:hover {
					color: var(--c-purple1);
				}
			}

			.post-listing-date {
				font-size: 13px;
				color: var(--c-grey1);
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.post-listing-categories {
			margin-bottom: 11px;
			display: flex;
			flex-wrap: wrap;
			gap: 7px;

			.post-listing-category {
				color: var(--c-purple1);
				background-color: #1f1f27;
				border-radius: 0.35rem;
				font-size: 12px;
				border: 1px solid #3a3a3d;
				padding: 3px 7px;
			}
		}

		.post-listing-skills {
			svg {
				&:not(:last-child) {
					margin-right: 8px;
				}

				height: 20px;
				width: 20px;
			}
		}
	}
}
